<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @inventory.book_id %>
</p>

<p>
  <strong>Num of copies:</strong>
  <%= @inventory.num_of_copies %>
</p>

<p>
  <strong>Price:</strong>
  <%= @inventory.price %>
</p>

<p>
  <strong>Store:</strong>
  <%= @inventory.store_id %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
